body{
    background-color: lightgrey;
}
/* Navigation */

#navbar{
    flex-direction: column;
}


/* Home section */
#home{
    height: 450px;
    padding: 0px;
}
#home h1{
    font-size: 2rem;
}
#home p{
    font-size: 1rem;
}
#home btn{
     font-size: 0.6rem;
     margin: -20px 20px;
}
.p{
    margin: 20px;
}



/* Services */

#services {
    margin:2px 20px;
    padding:2px 20px;
    flex-direction: column;
}

#services .box img{
    height: 80px;
}
.services-container{
    height: auto;
    background-color: white;
}
.clients{
    flex-wrap: wrap;

}
.apps img{
    margin: 05px;
    height: 50px;
    width: 50px;
}

.inputs{
    font-size: 20px;
}


footer{
    font-size: 0.6rem;
}
/* Utility Classes */

.h-primary{
    font-size: 26px;
    padding: 0px;
}

.h-secondary{
font-size: 1.3rem;
}

.btn{
    font-size: 0.6rem;

}